.banner{
    background-image: url(../../assets/img/banners/index.png);
    height: auto;
    position: relative;
    @media (min-width: 991px){
        height: 456px;
    }
}

.banner__overlay{
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFF;
    display: flex;
    height: 100%;
    justify-content: center; 
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.banner__heading{
    max-width: 751px;
    h3{
        font-size: 48px;
        font-weight: 500;
        line-height: 1.34;
        text-align: left;
        color: #ffffff;
    }
}