.banner-big{
    background-image: url(../../assets/img/banners/#{$big_banner_image});
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: calc(100vh - 57px);
    @media (min-width: 991px){
        height: $big_banner_height;
    }
}

.banner-small{
    background-image: url(../../assets/img/banners/#{$small_banner_image});
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: $small_banner_height;
    @media (max-width: 991px){
        min-height: $small_banner_height + 90;
    }
}
.banner-small--about{
    background-image: url(../../assets/img/banners/#{$small_banner_image2});
}
.banner-small--accelerated{
    background-image: url(../../assets/img/banners/#{$small_banner_image3});
}

.banner-big--alumini{
    background-image: url(../../assets/img/banners/#{$big_banner_image_alumini});
}

.banner-big__overlay, .banner-small__overlay{
    align-content: center;
    align-items: center;
    background:  $banner_overlay_opacity;
    bottom: 0;
    color: #FFF;
    display: flex;
    height: 100%;
    justify-content: center; 
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

// .banner-small__overlay{
//     align-content: center;
//     align-items: center;
// }

.banner-big__heading{
    max-width: $big_banner_heading_width;
    h3{
        font-size: $big_banner_heading_font_size;
        font-weight: $big_banner_heading_font_weight;
        line-height: $big_banner_heading_line_height;
        text-align: left;
        color: #ffffff;
        @media(max-width: 991px){
            font-size: $big_banner_heading_font_size * 2.2 / 3;
        }
    }
}

.banner-small__iconContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    @media (max-width: 567px){
        flex-direction: column;
    }
}
.banner-small__heading{
   
    line-height: 35px;
    font-size: 40px;
    font-weight: 500;
    font-family: 'BryantMedium';
    margin-left: 40px;
    @media (max-width: 567px){
        margin-top: 40px;
        margin-left: 0px;
    }
}