.loader{
    align-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.right_svg{
    transform-origin: center;
    animation: revolvler-l 1s ease-in-out alternate infinite;
}
.left_svg{
    transform-origin: center;
    animation: revolvler-r 1s ease-in-out alternate infinite;
}

@keyframes revolvler-r {
    from{
        transform: rotateX(0) translateX(0) scale(0.9);
    }
    to{
        transform:  rotateX(180deg)  translateX(45px) scale(1.5);
    }
}

@keyframes revolvler-l {
    from{
        transform: rotateX(0) translateX(0) scale(0.9);
    }
    to{
        transform: rotateX(180deg) translateX(-45px) scale(1.5);
    }
}