ul{
    padding-left: 0 !important;
}

input[type=date],
input[type=datetime-local], 
input[type=email], 
input[type=number], 
input[type=password], 
input[type=search-md], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=time], 
input[type=url], 
textarea.md-textarea{
    box-sizing: border-box !important;
    border: solid 1px #CDCDCD !important;
    border-bottom: solid 1px #CDCDCD !important;
    box-shadow: none !important;
    color: #CDCDCD;
}

.line_height1_2{
    line-height: 1.2 !important;
}