$brand-yellow: #FECB3F;
$brand-blue: #4C62A8;
$brand-dark: #4A4A4A;
$brand-grey: #E1E1E1;
$font-family: 'Roboto', sans-serif;
$font-family2: 'Bellefair', serif;
$font-family3: 'Herveticanuea', serif;
$worksans: 'Worksans','serif';
$cedar: 'Cedarville Cursive', cursive;
$section-gap: 88px;
$images: fellowship, about-us, courses, mvp, products, events, default;


// NAVBAR 
$navbar_lineHeight: 1;
$navlink_fontSize: 1rem;
$navlink_paddingTB: 2.625rem;
$navlink_paddingLR: 1.5rem;
$navlink_bottomLineColor: $brand-blue;
$navlink_bottomLineHeight: 3px;