footer{
	background-color: #283459;
	padding-top: 88px;
	padding-bottom: 17px;
	min-height: 340px;
	color: #FFF;
	@media(max-width: 991px){
		padding-top: 48px;
	}
}

.inlineblockList{
	display: flex;
	flex: 1;
	justify-content: space-between;
	margin-bottom: 0;

	@media(max-width: 991px){
		// align-items: center;
		flex-wrap: wrap;
		[class*='inlineblockList__']{
			justify-content: space-between;
			// &:nth-child(odd){
			// 	flex: 0 1 66%;
			// }
			// &:nth-child(even){
			// 	flex: 0 1 33%;
			// }
			&:nth-child(1){
				flex: 0 1 100%;
				div{
					text-align: center;
				}
			}
			&:nth-child(2){
				flex: 0 1 70%;
			}
			&:nth-child(3){
				flex: 0 1 30%;
			}
			&:nth-child(4){
				flex: 0 1 70%;
			}
			&:nth-child(5){
				flex: 0 1 30%;
			}
			&:nth-child(6){
				display: none;
			}

			width: initial;
			margin-bottom: 24px;
		}
	}
}

.inlineblockList__logo{
	width: 210px;
}

.inlineblockList__132{
	width: 132px;
}

.inlineblockList__104{
	width: 104px;
}

.inlineblockList__60{
	width: 60px;
}

.inlineblockList__141{
	width: 141px;
}

.inlineblockList__160{
	width: 160px;
}

.inlineblockList__center{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.inlineblockList a{
	opacity: 0.72;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #ffffff;
}

.inlineblockList__center a{
	opacity: 1;
}

.copyright{
	text-align: center;
	padding-top: 140px;
	line-height: 15px;
	opacity: 0.72;
	font-size: 14px;
	font-weight: 500;
	color: #FFF;
	@media(max-width: 991px){
		padding-top: 70px;
	}
}