// NAV BAR 1rem == 16px;
/*
variables
line-height: 1;
font-size: 1;
padding-top and bottom 2.625rem;
padding-left and right 1.5rem;

$navbar_lineHeight: 1;
$navlink_fontSize: 1rem;
$navlink_paddingTB: 2.625rem;
$navlink_paddingLR: 1.5rem
*/
.navbar{
	border-radius: 0;
	padding: 0 1rem;
}

.navbar-brand{
	webkit-align-self: center !important;
    -ms-flex-item-align: center !important;
	align-self: center !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.nav-link{
	padding: $navlink_paddingTB $navlink_paddingLR !important;
	line-height: $navbar_lineHeight !important;
	font-size: $navlink_fontSize;
}

.nav-item.active a:before,
.nav-item.active a:after
{
	border-top: $navlink_bottomLineHeight solid $navlink_bottomLineColor;
    bottom: 0px;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
	width: calc(100% - #{$navlink_paddingLR * 2});
	margin-left: calc(-0.5 * calc(100% - #{$navlink_paddingLR * 2}));
    transition: width 0.5s ease 0s;
}

.nav-item{
	position: relative;
	&:last-child{
		.nav-link{
			padding-right: 0 !important;
		}
	}
}