@import '../components/_loader.scss';
@import '../components/_animation.scss';
@import '../components/_containers.scss';
@import '../components/_inner_sections.scss';
@import '../components/_card_focus.scss';
@import '../components/_card_upc.scss';
@import '../components/_contact_form.scss';
@import '../components/_card_imc.scss';
@import '../components/_mini_course.scss';
@import '../components/_contact_us.scss';
@import '../components/_card_store.scss';
@import '../components/_careers.scss';
@import '../components/_carousel.scss';
@import '../components/_careers_form.scss';
@import '../components/_alumini.scss';


//PLACEHOLDERS
%card-icons {
    width: $card_icons_width;
    height: $card_icons_height;    
}
%card-icons-big{
    width: $card_icons_width2;
    height: $card_icons_height2;
}






