/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
body {
  margin: 0px;
  padding: 0px;
  color: #4A4A4A;
  font-family: "BryantMedium";
  text-rendering: optimizeLegibility;
}

/* line 13, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
ul, li {
  list-style: none;
}

/* line 17, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
a {
  text-decoration: none;
  color: #4A4A4A;
  outline: 0;
}

/* line 23, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
.no-bd {
  border: none !important;
}

/* line 27, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
.mr-5 {
  margin-right: 5px !important;
}

/* line 31, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
.ml-5 {
  margin-left: 5px !important;
}

/* line 35, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
.mt-48 {
  margin-top: 48px !important;
}

/* line 39, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
.btn {
  margin: 0 !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
}

/* line 44, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_reset.scss */
input[type=text].input-alternate:hover,
input[type=text].input-alternate:focus,
input[type=email].input-alternate:hover,
input[type=email].input-alternate:focus {
  box-shadow: none !important;
}

/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_base.scss */
ul {
  padding-left: 0 !important;
}

/* line 5, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_base.scss */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=search-md],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea.md-textarea {
  box-sizing: border-box !important;
  border: solid 1px #CDCDCD !important;
  border-bottom: solid 1px #CDCDCD !important;
  box-shadow: none !important;
  color: #CDCDCD;
}

/* line 24, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/base/_base.scss */
.line_height1_2 {
  line-height: 1.2 !important;
}

@font-face {
  font-family: "BryantLight";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Bryant/BryantLight.ttf") format("truetype");
}

@font-face {
  font-family: "BryantLightAlt";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Bryant/BryantLightAlt.ttf") format("truetype");
}

@font-face {
  font-family: "BryantRegular";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Bryant/BryantRegular.ttf") format("truetype");
}

@font-face {
  font-family: "BryantRegularAlt";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bryant/BryantRegularAlt.ttf") format("truetype");
}

@font-face {
  font-family: "BryantMedium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Bryant/BryantMedium.ttf") format("truetype");
}

@font-face {
  font-family: "BryantMediumAlt";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Bryant/BryantMediumAlt.ttf") format("truetype");
}

@font-face {
  font-family: "BryantBoldAlt";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Bryant/BryantBoldAlt.ttf") format("truetype");
}

/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: transparent;
}

/* line 6, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar {
  border-radius: 0;
  box-shadow: none !important;
  margin-bottom: 0 !important;
  padding: 0 1rem;
  box-shadow: inset 0 -1px 0 0 #CDCDCD !important;
}

/* line 14, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar .navbar-brand {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 991px) {
  /* line 14, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
  .navbar .navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

/* line 24, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar .navbar-brand img {
  max-height: 57px !important;
}

@media (max-width: 991px) {
  /* line 24, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
  .navbar .navbar-brand img {
    height: 40px;
  }
}

/* line 32, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar .nav-link {
  color: #4A4A4A !important;
  font-size: 18px;
  line-height: 16px !important;
  padding: 32px 24px !important;
}

/* line 39, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar .nav-item.active a:before,
.navbar .nav-item.active a:after {
  content: "";
  height: 0;
  left: 50%;
  margin-left: calc(-0.5 * calc(100% - 36px));
  position: absolute;
  transition: width 0.5s ease 0s;
  width: calc(100% - 36px);
  z-index: 10;
}

/* line 52, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar .nav-item.active a:before {
  border-radius: 20px 20px 0 0;
  border-top: 3px solid #4C62A8;
  bottom: 1px;
}

/* line 58, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar .nav-item.active a:after {
  border-radius: 0 0 20px 20px;
  border-bottom: 3px solid #4C62A8;
  bottom: 0px;
}

/* line 64, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar .nav-item {
  position: relative;
}

/* line 67, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_navbar.scss */
.navbar .nav-item:last-child .nav-link {
  padding-right: 0 !important;
}

/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-big {
  background-image: url(../../assets/img/banners/index.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 57px);
}

@media (min-width: 991px) {
  /* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
  .banner-big {
    height: 456px;
  }
}

/* line 12, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-small {
  background-image: url(../../assets/img/banners/header.png);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 236px;
}

@media (max-width: 991px) {
  /* line 12, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
  .banner-small {
    min-height: 326px;
  }
}

/* line 23, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-small--about {
  background-image: url(../../assets/img/banners/header2.png);
}

/* line 26, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-small--accelerated {
  background-image: url(../../assets/img/banners/header3.png);
}

/* line 30, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-big--alumini {
  background-image: url(../../assets/img/banners/alumini.png);
}

/* line 34, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-big__overlay, .banner-small__overlay {
  align-content: center;
  align-items: center;
  background: transparent;
  bottom: 0;
  color: #FFF;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

/* line 55, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-big__heading {
  max-width: 751px;
}

/* line 57, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-big__heading h3 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.17;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 991px) {
  /* line 57, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
  .banner-big__heading h3 {
    font-size: 35.2px;
  }
}

/* line 69, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-small__iconContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media (max-width: 567px) {
  /* line 69, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
  .banner-small__iconContainer {
    flex-direction: column;
  }
}

/* line 78, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
.banner-small__heading {
  line-height: 35px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'BryantMedium';
  margin-left: 40px;
}

@media (max-width: 567px) {
  /* line 78, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_banner.scss */
  .banner-small__heading {
    margin-top: 40px;
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  /* line 2, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_rightSidebar.scss */
  .nav-open .rightSideBar {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}

/* line 11, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_rightSidebar.scss */
.rightSideBar {
  position: fixed;
  display: block;
  top: 0;
  height: 100%;
  width: 250px;
  right: 0;
  z-index: 1032;
  visibility: visible;
  background: #FFFFFF;
  overflow-y: visible;
  border-top: none;
  text-align: left;
  padding: 0;
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

/* line 36, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_rightSidebar.scss */
.rightSideBar .menus a {
  display: block;
  padding: 15px 15px 15px 45px;
}

/* line 42, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_rightSidebar.scss */
.rightSideBar .menus li.active a:before, .rightSideBar .menus li.active a:after {
  bottom: 0;
  top: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 5px;
  z-index: 1000;
  background: #4C62A8;
}

/* line 60, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_rightSidebar.scss */
#bodyClick {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: auto;
  right: 250px;
  content: "";
  z-index: 9999;
  overflow-x: hidden;
}

@media (max-width: 991px) {
  /* line 74, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_rightSidebar.scss */
  .nav-open .wrapper {
    left: 0;
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
}

@media (max-width: 991px) {
  /* line 85, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_rightSidebar.scss */
  .wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    position: relative;
  }
}

/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_loader.scss */
.loader {
  align-content: center;
  align-items: center;
  background: white;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* line 17, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_loader.scss */
.right_svg {
  transform-origin: center;
  animation: revolvler-l 1s ease-in-out alternate infinite;
}

/* line 21, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_loader.scss */
.left_svg {
  transform-origin: center;
  animation: revolvler-r 1s ease-in-out alternate infinite;
}

@keyframes revolvler-r {
  from {
    transform: rotateX(0) translateX(0) scale(0.9);
  }
  to {
    transform: rotateX(180deg) translateX(45px) scale(1.5);
  }
}

@keyframes revolvler-l {
  from {
    transform: rotateX(0) translateX(0) scale(0.9);
  }
  to {
    transform: rotateX(180deg) translateX(-45px) scale(1.5);
  }
}

/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/components/_animation.scss */
.zoom {
  animation: zoomOutDown 1s both cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@keyframes zoomOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* line 5, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.container__smaller {
  max-width: 945px;
}

/* line 9, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.testimonial,
.container--smallest {
  max-width: 585px;
}

/* line 15, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.container--s401 {
  max-width: 401px;
}

/* line 21, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.inner-section {
  padding: 88px 0;
}

@media (max-width: 991px) {
  /* line 21, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .inner-section {
    padding: 44px 0;
  }
}

/* line 29, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.inner-section__heading, .inner-section__heading-small {
  color: #4A4A4A;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 991px) {
  /* line 29, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .inner-section__heading, .inner-section__heading-small {
    font-size: 29.33333px;
  }
}

/* line 38, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.inner-section__heading {
  font-size: 40px;
  line-height: 35px;
  margin-bottom: 48px;
}

/* line 43, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.inner-section__heading-small {
  font-size: 24px;
  line-height: 21px;
  margin-bottom: 9px;
}

/* line 49, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.inner-section__passage {
  color: #4A4A4A;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  font-family: "BryantRegularAlt";
}

@media (min-width: 991px) {
  /* line 49, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .inner-section__passage {
    max-width: 945px;
  }
}

/* line 63, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--upc .course-icon {
  width: 68px;
  height: 79px;
}

/* line 67, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .immersive-icon, .mini_course__icon {
  width: 128px;
  height: 148px;
}

/* line 75, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--focus .card-title {
  color: #4A4A4A;
  font-size: 24px;
  font-weight: 500 !important;
  line-height: 21px;
  margin-bottom: 6px;
}

/* line 83, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--focus .card-body {
  padding: 24px;
}

/* line 87, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--focus .card-text {
  max-height: 96px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 6px !important;
  text-align: left;
  font-family: "BryantRegularAlt";
}

/* line 96, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--focus .img-fluid {
  margin-bottom: 16px;
}

@media (min-width: 991px) {
  /* line 96, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--focus .img-fluid {
    height: 222px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* line 73, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--focus {
    margin-bottom: 30px;
  }
}

/* line 120, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
#upcoming_courses {
  background-color: rgba(76, 98, 168, 0.04);
}

/* line 124, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--upc {
  margin-bottom: 48px;
}

@media (max-width: 991px) {
  /* line 124, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--upc {
    margin-bottom: 30px !important;
  }
}

/* line 129, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--upc .card-body {
  padding: 25px 32px 26px 41px;
}

@media (max-width: 991px) {
  /* line 129, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--upc .card-body {
    padding: 24px;
  }
}

/* line 136, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--upc .media-title {
  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 21px;
  color: #4A4A4A !important;
}

/* line 152, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--upc .media-date {
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  color: #4A4A4A !important;
}

/* line 159, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--upc .media-detail {
  width: 244px !important;
}

/* line 163, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--upc .media {
  justify-content: space-between;
}

/* line 166, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--upc .course-icon {
  margin-right: 57px !important;
}

@media (max-width: 991px) {
  /* line 166, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--upc .course-icon {
    margin-right: 15px !important;
  }
}

/* line 178, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-form input {
  border-radius: 3px !important;
  font-size: 18px !important;
  line-height: 16px;
}

/* line 184, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-form input {
  margin: 0 auto !important;
  box-shadow: 2px 2px 4px 0 rgba(155, 155, 155, 0.5) !important;
  max-width: 313px;
  padding: 14px !important;
}

/* line 204, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-form input {
  height: 54px !important;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: solid 1px #CDCDCD !important;
  border-bottom: solid 1px #CDCDCD !important;
  box-shadow: none !important;
  font-size: 24px !important;
  color: #CDCDCD;
  line-height: 26px;
}

@media (min-width: 767px) {
  /* line 204, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .contact-form input {
    width: 100%;
    max-width: 494px;
  }
}

/* line 221, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-form .form-group {
  margin-bottom: 48px;
}

/* line 231, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
ul.immersive {
  margin-bottom: 24px;
}

/* line 235, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc {
  background-color: transparent;
  box-shadow: none !important;
}

/* line 239, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .card-body {
  padding: 88px 8px 72px 8px;
  position: relative;
  z-index: 1;
  border-bottom: solid 1px #E1E1E1;
}

@media (max-width: 991px) {
  /* line 239, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--imc .card-body {
    padding-top: 48px !important;
  }
}

/* line 248, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #F9F9F9;
}

/* line 258, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .media {
  justify-content: space-between;
}

@media (max-width: 567px) {
  /* line 258, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--imc .media {
    flex-wrap: wrap;
  }
}

@media (max-width: 567px) {
  /* line 264, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--imc .immersive__icon {
    flex: 1 0 100%;
    justify-content: center;
    order: 1;
  }
}

/* line 271, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .media--detail {
  width: 668px;
}

@media (max-width: 567px) {
  /* line 271, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--imc .media--detail {
    width: auto;
    order: 2;
  }
}

/* line 278, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .media--title {
  line-height: 21px;
  font-size: 24px !important;
  font-weight: 500 !important;
  color: #283459;
}

/* line 284, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .media--text {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #4A4A4A;
  font-family: "BryantRegularAlt";
}

/* line 291, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .media--anchor {
  line-height: 14px;
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
  color: #283459;
}

@media (max-width: 567px) {
  /* line 298, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--imc .media__schedule {
    order: 3;
    margin-bottom: 30px;
  }
}

/* line 304, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .media--date {
  line-height: 14px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #4A4A4A;
}

/* line 311, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--imc .immersive-icon {
  margin-right: 24px !important;
}

@media (max-width: 567px) {
  /* line 311, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--imc .immersive-icon {
    margin-bottom: 30px;
    margin-right: 0 !important;
  }
}

/* line 324, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini_course__icon {
  margin: 0 auto 8px auto;
}

/* line 329, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini_course__title {
  line-height: 35px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #4A4A4A;
  margin-bottom: 0 !important;
}

/* line 339, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right {
  background-color: transparent;
  box-shadow: none !important;
  width: 361px;
}

@media (max-width: 1076px) {
  /* line 339, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--mini_course_right {
    width: auto;
  }
}

/* line 346, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .card-body {
  margin-bottom: 48px;
  background-color: #F9F9F9;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 0 rgba(155, 155, 155, 0.5) !important;
  border: solid 1px #E1E1E1 !important;
}

/* line 354, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .media {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid #E1E1E1;
}

/* line 359, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .btn.btn-block.btn-brand {
  padding: 14px !important;
  font-size: 18px !important;
  line-height: 16px;
  border-radius: 3px;
}

/* line 365, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .card__title {
  line-height: 17px !important;
  font-size: 16px !important;
  text-align: left;
  color: #4A4A4A;
  font-family: "BryantRegularAlt";
  margin-bottom: 8px !important;
  font-weight: normal !important;
}

/* line 374, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .card__date {
  line-height: 14px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #4A4A4A;
}

/* line 381, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .card__price-off {
  line-height: 8px;
}

/* line 384, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .card__price-off .price {
  color: #9B9B9B;
  margin-right: 16px;
  text-decoration: line-through;
}

/* line 391, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .card-subscription__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #4A4A4A;
  margin-bottom: 24px !important;
  font-family: "BryantRegularAlt";
}

/* line 399, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .form-group {
  margin-bottom: 24px;
}

/* line 402, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .input-alternate {
  height: 44px !important;
  border-radius: 3px;
  border: solid 1px #E1E1E1;
  border-bottom: 1px solid #E1E1E1 !important;
  box-shadow: none !important;
  background-color: #FFFFFF;
}

/* line 409, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--mini_course_right .input-alternate:focus, .card--mini_course_right .input-alternate:hover {
  box-shadow: none !important;
}

/* line 416, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini-course__left {
  width: 653px;
}

@media (max-width: 1076px) {
  /* line 416, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .mini-course__left {
    width: auto;
  }
}

/* line 421, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini-course__left .course__title {
  line-height: 21px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

/* line 428, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini-course__left .course__passage {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #4A4A4A;
  font-family: "BryantRegularAlt";
}

/* line 435, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini-course__left .inner-section {
  padding-top: 0 !important;
}

/* line 438, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini-course__left ul {
  margin-bottom: 0 !important;
}

/* line 440, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini-course__left ul li {
  list-style-type: disc;
  line-height: 17px;
  font-size: 16px;
  color: #4A4A4A;
  margin-bottom: 24px;
  font-family: "BryantRegularAlt";
}

/* line 447, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini-course__left ul li:last-child {
  margin-bottom: 0;
}

/* line 451, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.mini-course__left ul div {
  line-height: 1.88;
}

/* line 458, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-wrap {
  border: 1px solid #CDCDCD;
  padding: 48px 96px;
}

@media (max-width: 991px) {
  /* line 458, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .contact-wrap {
    padding: 24px !important;
  }
}

/* line 464, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-wrap .contact-wrap--list {
  margin-bottom: 0 !important;
}

/* line 467, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-wrap .contact-wrap--items {
  margin-bottom: 92px;
}

/* line 469, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-wrap .contact-wrap--items:last-child {
  margin-bottom: 0;
}

/* line 473, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.contact-wrap .contact-wrap--detail {
  margin-left: 16.2px;
  font-family: "BryantRegularAlt";
  font-size: 16px;
  text-align: left;
  color: #4A4A4A;
}

/* line 484, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
#store [class*='col-'] {
  margin-bottom: 48px;
}

/* line 486, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
#store [class*='col-']:last-child {
  margin-bottom: 0;
}

@media (min-width: 767px) {
  /* line 490, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  #store [class*='col-']:nth-last-child(-n+3) {
    margin-bottom: 0 !important;
  }
}

/* line 496, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store {
  box-shadow: none !important;
}

/* line 498, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .img-fluid {
  width: 100% !important;
}

/* line 501, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .card-body {
  padding: 16px 24px 24px 24px;
  border: solid 1px #CDCDCD !important;
  border-top: none !important;
}

/* line 506, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .card-title {
  line-height: 21px;
  font-family: "BryantMedium";
  font-size: 24px;
  font-weight: 500;
  color: #4A4A4A;
  margin-bottom: 16px;
}

/* line 514, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .card-price {
  line-height: 18px;
  font-family: "BryantMedium";
  font-size: 16px !important;
  font-weight: bold !important;
  color: #4A4A4A;
  margin-bottom: 13px !important;
}

/* line 522, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .form-group {
  margin-bottom: 24px;
}

/* line 525, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store label {
  line-height: 12px;
  font-family: "BryantMedium";
  font-size: 14px;
  font-weight: 500;
  color: #CDCDCD;
  margin-bottom: 4px !important;
}

/* line 534, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store select {
  border-radius: 3px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 1024px) {
  /* line 542, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--store .card--store__form .col:not(:last-child) {
    width: 98px;
    flex: 0 0 98px !important;
  }
}

@media (max-width: 375px) {
  /* line 551, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--store .card--store__form .col:not(:last-child) {
    width: 90px;
    flex: 0 0 90px !important;
  }
}

@media (max-width: 991px) {
  /* line 560, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
  .card--store .card--store__form .col {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* line 567, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .swatches {
  justify-content: space-between;
}

/* line 569, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .swatches label {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin-bottom: 0 !important;
  cursor: pointer;
}

/* line 574, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .swatches label.bg-dark {
  background: #000000;
}

/* line 577, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .swatches label.bg-blue {
  background: #2E547B;
}

/* line 580, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .swatches label.bg-white {
  background: #FFFFFF;
  border: solid 1px #9B9B9B;
}

/* line 586, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .swatches input[type='radio'] {
  display: none;
}

/* line 590, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.card--store .btn-brand {
  line-height: 16px;
  font-family: "BryantMedium";
  font-size: 18px;
  font-weight: bold;
  max-width: 200px;
  padding: 16px 0;
  margin: 0 auto !important;
}

/* line 602, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers {
  display: flex;
  align-items: center;
  height: 341px;
  position: relative;
}

/* line 607, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers .careers__info {
  flex: 1;
}

/* line 610, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers .careers__imageContainer {
  position: absolute;
  right: 15px;
  top: 0;
}

/* line 615, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers .careers__heading {
  line-height: 41px;
  font-family: "BryantMedium";
  font-size: 48px;
  font-weight: 500;
  color: #4A4A4A;
  margin-bottom: 24px;
}

/* line 623, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers .careers__btn {
  font-size: 18px;
  line-height: 16px;
  width: 100%;
  max-width: 232px;
  padding: 22px 0 !important;
}

/* line 629, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers .careers__btn.btn-brand__outline {
  padding: 20px 0 !important;
  margin-left: 10px !important;
}

/* line 636, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.testimonial {
  margin: 0 auto;
}

/* line 639, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.testimonial .inner-section__heading {
  margin-bottom: 32px !important;
}

/* line 642, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.testimonial .inner-section__passage {
  margin-bottom: 16px;
}

/* line 647, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.owl-dots {
  display: flex;
  justify-content: center;
}

/* line 650, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  border-radius: 100%;
  background: #CDCDCD;
}

/* line 656, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.owl-dots .owl-dot.active {
  background: #4C62A8;
}

/* line 665, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.alumini .alumini__form-container {
  margin-top: 24px;
  text-align: center;
}

/* line 668, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.alumini .alumini__form-container .md-form {
  margin-bottom: 16px;
}

/* line 671, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.alumini .alumini__form-container input[type='email'] {
  height: 44px !important;
}

/* line 675, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.alumini input[type='email'] {
  max-width: 313px;
  margin: 0 auto !important;
  border-radius: 3px !important;
  line-height: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: bold;
}

/* line 688, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers_form_intro {
  line-height: 15px;
  font-family: "BryantRegularAlt";
  font-size: 14px;
  color: #4A4A4A;
}

/* line 695, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers_form label {
  line-height: 12px;
  font-family: "BryantMedium";
  font-size: 14px;
  font-weight: 500;
  color: #9B9B9B;
  margin-bottom: 6px !important;
}

/* line 703, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers_form .md-form {
  margin-bottom: 18px !important;
}

/* line 706, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_main.scss */
.careers_form input, .careers_form select {
  height: 40px !important;
  font-family: "BryantRegularAlt";
  font-size: 16px;
  color: #4A4A4A;
}

/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
footer {
  background-color: #283459;
  padding-top: 88px;
  padding-bottom: 17px;
  min-height: 340px;
  color: #FFF;
}

@media (max-width: 991px) {
  /* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  footer {
    padding-top: 48px;
  }
}

/* line 12, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  /* line 12, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList {
    flex-wrap: wrap;
  }
  /* line 21, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList [class*='inlineblockList__'] {
    justify-content: space-between;
    width: initial;
    margin-bottom: 24px;
  }
  /* line 29, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList [class*='inlineblockList__']:nth-child(1) {
    flex: 0 1 100%;
  }
  /* line 31, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList [class*='inlineblockList__']:nth-child(1) div {
    text-align: center;
  }
  /* line 35, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList [class*='inlineblockList__']:nth-child(2) {
    flex: 0 1 70%;
  }
  /* line 38, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList [class*='inlineblockList__']:nth-child(3) {
    flex: 0 1 30%;
  }
  /* line 41, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList [class*='inlineblockList__']:nth-child(4) {
    flex: 0 1 70%;
  }
  /* line 44, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList [class*='inlineblockList__']:nth-child(5) {
    flex: 0 1 30%;
  }
  /* line 47, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .inlineblockList [class*='inlineblockList__']:nth-child(6) {
    display: none;
  }
}

/* line 57, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList__logo {
  width: 210px;
}

/* line 61, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList__132 {
  width: 132px;
}

/* line 65, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList__104 {
  width: 104px;
}

/* line 69, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList__60 {
  width: 60px;
}

/* line 73, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList__141 {
  width: 141px;
}

/* line 77, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList__160 {
  width: 160px;
}

/* line 81, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList__center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* line 88, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList a {
  opacity: 0.72;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

/* line 96, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.inlineblockList__center a {
  opacity: 1;
}

/* line 100, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
.copyright {
  text-align: center;
  padding-top: 140px;
  line-height: 15px;
  opacity: 0.72;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
}

@media (max-width: 991px) {
  /* line 100, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/layout/_footer.scss */
  .copyright {
    padding-top: 70px;
  }
}

/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_buttons.scss */
.btn {
  font-size: .8rem;
  padding: .85rem 2.13rem;
  margin: 6px;
  border-radius: 2px;
  border: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  white-space: normal !important;
  cursor: pointer;
}

/* line 13, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_buttons.scss */
.btn-brand {
  background-color: #4C62A8;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0 rgba(155, 155, 155, 0.5) !important;
}

/* line 19, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_buttons.scss */
.btn-brand__outline {
  border: 2px solid #4C62A8;
  background-color: #FFF;
  color: #4C62A8 !important;
}

/* line 25, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_buttons.scss */
.btn-brand--focus {
  font-size: 18px;
  line-height: 16px;
  padding: 14px 34px;
}

@media (min-width: 425px) {
  /* line 25, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_buttons.scss */
  .btn-brand--focus {
    max-width: 166px;
  }
}

/* line 34, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_buttons.scss */
.btn-brand--w313 {
  border-radius: 3px !important;
  font-size: 18px !important;
  line-height: 16px;
  margin: 0 auto !important;
  box-shadow: 2px 2px 4px 0 rgba(155, 155, 155, 0.5) !important;
  max-width: 313px;
  padding: 14px !important;
}

/* line 44, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_buttons.scss */
.btn-brand--careers-form {
  line-height: 16px;
  font-family: "BryantMedium";
  font-size: 18px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_columns.scss */
.col--mini-course {
  display: flex;
  flex-direction: column;
}

@media (min-width: 991px) {
  /* line 1, /home/jide/Documents/repos/side-projects/univelsity/templates/assets/scss/modules/_columns.scss */
  .col--mini-course {
    align-items: flex-end;
  }
}

/*# sourceMappingURL=../css/main.map */