<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Univelcity</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/bootstrap.min.css">

		

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/mdb.min.css">

		

		<!-- main css -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- responsive css -->
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

		
	</head>
	<body data="default">
		<header>
			<!--Navbar-->
			<nav class="mb-1 navbar navbar-expand-lg navbar-white">
				<div class="container">
                <a class="navbar-brand" href="#">
					<img src="assets/img/logo/logo.png"/>
				</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect waves-light" href="#"><i class="fa fa-envelope"></i> Immersive Courses <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link waves-effect waves-light" href="#"><i class="fa fa-gear"></i> Accelerated Courses </a>
						</li>
						<li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#"><i class="fa fa-gear"></i> CareerXpress </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#"><i class="fa fa-gear"></i> Store </a>
						</li>
						<li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#"><i class="fa fa-gear"></i> About Us </a>
                        </li>
                    </ul>
				</div>
				</div>
            </nav>
			<div class="banner">
				<div class="banner__wrap">
					<div class="overlay">
						<div class="container">
							<div><img src="#"/></div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<main>
			
			<section>
				<div class="container">
					<ul>
                        <li>
                            <div class="card">
                                
                                <!--Card content-->
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex align-self-center mr-3" src="assets/img/icons/nodejs.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Backend Development with Meanstack</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Cras urna nisi, pretium a arcu ut, dapibus aliquet tellus.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Cras urna nisi, pretium a arcu ut, dapibus aliquet tellus..
                                            </p>
                                            <a href="#">Learn More</a>
                                        </div>
                                        <div class="d-flex ml-3">
                                            <img  src="assets/img/icons/calendar.png" alt="Generic placeholder image">
                                            <div>
                                                <h6>Thursday 24 July 2017</h6>
                                                <h6>6:00pm - 8:00pm</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card content ends  -->
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                
                                <!--Card content-->
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex align-self-center mr-3" src="assets/img/icons/nodejs.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Backend Development with Meanstack</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Cras urna nisi, pretium a arcu ut, dapibus aliquet tellus.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Cras urna nisi, pretium a arcu ut, dapibus aliquet tellus..
                                            </p>
                                            <a href="#">Learn More</a>
                                        </div>
                                        <div class="d-flex ml-3">
                                            <img  src="assets/img/icons/calendar.png" alt="Generic placeholder image">
                                            <div>
                                                <h6>Thursday 24 July 2017</h6>
                                                <h6>6:00pm - 8:00pm</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card content ends  -->
                            </div>
                        </li>
                        <li>
                            <div class="card">
                                
                                <!--Card content-->
                                <div class="card-body">
                                    <div class="media">
                                        <img class="d-flex align-self-center mr-3" src="assets/img/icons/nodejs.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="mt-0">Backend Development with Meanstack</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Cras urna nisi, pretium a arcu ut, dapibus aliquet tellus.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                Cras urna nisi, pretium a arcu ut, dapibus aliquet tellus..
                                            </p>
                                            <a href="#">Learn More</a>
                                        </div>
                                        <div class="d-flex ml-3">
                                            <img  src="assets/img/icons/calendar.png" alt="Generic placeholder image">
                                            <div>
                                                <h6>Thursday 24 July 2017</h6>
                                                <h6>6:00pm - 8:00pm</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Card content ends  -->
                            </div>
                        </li>
                    </ul>
				</div>
			</section>

			

		</main>
		
		<footer>
			<div class="container">
				<div>
					<ul class="inlineblockList">
						<li class="inlineblockList__logo">
							<div>
								<img src="assets/img/logo/logo_white.png"/>
							</div>
						</li>
						<li class="inlineblockList__132">
							<ul>
								<li><a href="#">Immersive Courses</a></li>
								<li><a href="#">Accelerated Courses</a></li>
							</ul>
						</li>
						<li class="inlineblockList__104">
							<ul>
								<li><a href="#">Alumni</a></li>
								<li><a href="#">Accommodation</a></li>
								<li><a href="#">CareerXpress</a></li>
							</ul>
						</li>
						<li class="inlineblockList__60">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Store</a></li>
							</ul>
						</li>
						<li class="inlineblockList__141">
							<ul>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms and Conditions</a></li>
							</ul>
						</li>
						<li class="inlineblockList__160 inlineblockList__center">
							<ul class="inlineblockList">
								<li>
									<a><img src="assets/img/icons/facebook.png"/></a>
								</li>
								<li>
									<a><img src="assets/img/icons/twitter.png"/></a>
								</li>
								<li>
									<a><img src="assets/img/icons/instagram.png"/></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Univelcity
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/jquery-3.2.1.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/popper.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/bootstrap.min.js"></script>

		
	</body>
</html>