<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Univelcity</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/bootstrap.min.css">

		

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/mdb.min.css">

		

		<!-- main css -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- responsive css -->
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

		
	</head>
	<body data="default">
        
        <div class="wrapper">
            <header>
                <!--Navbar-->
                <nav class="mb-1 navbar navbar-expand-lg navbar-light">
                    <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/logo/logo.png"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link waves-effect waves-light" href="#">Immersive Courses</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link waves-effect waves-light" href="#">Accelerated Courses </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">CareerXpress </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">Store</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">About Us</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </nav>
                <!-- Navbar -->
            </header>

            <main>
                
                <section class="inner-section">
                    <div class="container">
                        <div class="text-center">
                            <div class="mini_course__icon">
                                <img src="assets/img/icons/python.png"/>
                            </div>
                            <h3 class="mini_course__title">Backend Development with Python</h3>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mini-course__left">
                                    <!-- About this Course -->
                                    <div class="inner-section">
                                        <h5 class="course__title">About this Course</h5>
                                        <div class="course__passage">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras urna nisi, pretium a arcu ut, 
                                                dapibus aliquet tellus. In at augue sollicitudin, bibendum nunc vel, dignissim dui. Ut auctor, lacus non convallis sollicitudin, odio enim porttitor ex, id porta massa magna nec magna. Integer tincidunt ac sem quis venenatis. Suspendisse bibendum, metus non vulputate porttitor, lacus lectus mattis velit, ut posuere enim metus faucibus dolor. Curabitur cursus venenatis augue, a porttitor nisi accumsan sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere mauris rhoncus ex porttitor, sit amet rutrum sem pellentesque. 
                                                Phasellus dapibus imperdiet lorem, ut consequat nisi egestas ac. Praesent ut facilisis massa.
                                        </div>
                                    </div>
                                    <!-- About this Course -->

                                    <!-- Takeaways -->
                                    <div class="inner-section">
                                        <h5 class="course__title">Takeaways</h5>
                                        <div>
                                            <ul>
                                                <li>Learn how to get setup and install Python and libraries</li> 
                                                <li>Find out how to write your first Python script</li>
                                                <li>Figure out what tools to use for your next Python projects</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Takeaways -->

                                    <!-- Prerequirements and Preparations -->
                                    <div class="inner-section">
                                        <h5 class="course__title">Prerequirements and Preparations</h5>
                                        <div>
                                            <ul>
                                                <li>
                                                    <div>
                                                        Students must bring a laptop with Python 3 and a text editor pre-installed 
                                                        from https://www.python.org/downloads/ and https://www.sublimetext.com/.
                                                        When downloading Python 3, please ensure you select option to "add Python to PATH" during installation
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Students must bring a laptop with Python 3 and a text editor pre-installed 
                                                        from https://www.python.org/downloads/ and https://www.sublimetext.com/. 
                                                        When downloading Python 3, 
                                                        please ensure you select option to "add Python to PATH" during installation
                                                    </div>
                                                </li>
                                            
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Prerequirements and Preparations -->
                                    
                                    <!-- Cirriculum -->
                                    <div class="inner-section">
                                        <h5 class="course__title">Cirriculum</h5>
                                        <div>
                                            <ul>
                                                <li>Introduction to computer science</li>
                                                <li>User experience design</li>
                                                <li>Understanding and interpreting Mockups</li>
                                                <li>HTML/CSS</li>
                                                <li>Bootstrap</li>
                                                <li>Introduction to Javascript</li>
                                                <li>JQuery</li>
                                                <li>GIT</li>
                                                <li>Introduction to ES6</li>
                                                <li>AngularJS 2</li>
                                                <li>SCRUM/AGILE Principles</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col col--mini-course">
                                <div class="card card--mini_course_right">
                                    <!--Card content-->
                                    <div class="card-body">
                                        <ul class="list-unstyled mb-0">
                                            <li class="media pt-0">
                                                <img class="d-flex mr-3" src="assets/img/icons/calendar2.png" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <div class="mb-4">
                                                        <h5 class="card__title">Start date</h5>
                                                        <p class="mb-0 card__date">Thursday 24 July 2017</p>
                                                    </div>
                                                    <div>
                                                        <h5 class="card__title">Start date</h5>
                                                        <p class="mb-0 card__date">Thursday 24 July 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <img class="d-flex mr-3" src="assets/img/icons/clock.png" alt="Generic placeholder image">
                                                <div class="media-body align-self-center">
                                                    <div>
                                                        <p class="mb-0 card__date">4:00pm - 8:00pm</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <img class="d-flex mr-3" src="assets/img/icons/location.png" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <div>
                                                        <p class="card__date">42 Montgomery Street, Yaba, Lagos</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li class="">
                                                <div class="media no-bd">
                                                    <img class="d-flex mr-3" src="assets/img/icons/price.png" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="card__title">Price</h5>
                                                            <p class="card__price-off">
                                                                <span class="price">150,000</span>
                                                                <span class="red-text">50% off</span>
                                                            </p>
                                                            <p class="mb-0 card__date">150,000</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="btn btn-block btn-brand">Attend</a>
                                            </li>
                                        </ul>                       
                                    </div>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <p class="card-subscription__text">Follow this course to get email updates about when next it’s scheduled</p>                      
                                        <div class="form-group">
                                            <input type="text" class="input-alternate" placeholder="Email"/>
                                        </div>
                                        <a class="btn btn-block btn-brand">Follow</a>
                                    </div>

                                </div>

                            
                            </div>
                        </div>
                    </div>
                </section>
                
            </main>
            
            <footer>
                <div class="container">
                    <div>
                        <ul class="inlineblockList">
                            <li class="inlineblockList__logo">
                                <div>
                                    <img src="assets/img/logo/logo_white.png"/>
                                </div>
                            </li>
                            <li class="inlineblockList__132">
                                <ul>
                                    <li><a href="#">Immersive Courses</a></li>
                                    <li><a href="#">Accelerated Courses</a></li>
                                </ul>
                            </li>
                            <li class="inlineblockList__104">
                                <ul>
                                    <li><a href="#">Alumni</a></li>
                                    <li><a href="#">Accommodation</a></li>
                                    <li><a href="#">CareerXpress</a></li>
                                </ul>
                            </li>
                            <li class="inlineblockList__60">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Store</a></li>
                                </ul>
                            </li>
                            <li class="inlineblockList__141">
                                <ul>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                </ul>
                            </li>
                            <li class="inlineblockList__160 inlineblockList__center">
                                <ul class="inlineblockList">
                                    <li>
                                        <a><img src="assets/img/icons/facebook.png"/></a>
                                    </li>
                                    <li>
                                        <a><img src="assets/img/icons/twitter.png"/></a>
                                    </li>
                                    <li>
                                        <a><img src="assets/img/icons/instagram.png"/></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright">
                        &copy;Univelcity
                    </div>
                </div>
            </footer>
        </div>
        
		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/jquery-3.2.1.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/popper.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="assets/js/main.js"></script>
		<script>
			app.sidebarController();
		</script>
		
	</body>
</html>