@import '../components/_loader.scss';
@import '../components/_animation.scss';
//CONTAINERS
.container__smaller{
    margin: 0 auto;
    @media (min-width: 991px) {
        max-width: $smaller_container;
    }
}


// INNER SECTION PADDING
.inner-section{
    padding: $inner-section-gap 0;
    @media(max-width: 991px){
        padding: ($inner-section-gap/2) 0;
    }
}

.inner-section__heading{
    color: $inner-section_heading_color;
    font-size: $inner-section_heading_font_size;
    font-weight: 500;
    line-height: $inner-section_heading_line_height;
    margin-bottom: $inner-section_heading_margin_bottom;
    text-align: center;
    @media(max-width: 991px){
        font-size: $inner-section_heading_font_size * 2.2 / 3;
    }
}

.inner-section__passage{
    color: $inner-section_heading_color;
    font-size: $inner-section_passage_font_size;
    line-height: $inner-section_passage_line_height;
    margin: 0 auto;
    text-align: center;
    font-family: $BryantAlt;
    @media (min-width: 991px) {
        max-width: $inner-section_passage_max-width;
    }
}


//PLACEHOLDERS
%card-icons {
    width: $card_icons_width;
    height: $card_icons_height;    
}
%card-icons-big{
    width: $card_icons_width2;
    height: $card_icons_height2;
}

//OUR FOCUS SECTION
.card--focus {
    
    .card-title{
        color: $brand-dark;
        font-size: $focus_card_title_font_size;
        font-weight: $focus_card_title_font_weight !important;
        line-height: $focus_card_title_line_height;
        margin-bottom: $focus_card_title_margin_bottom;
    }

    .card-body{
        padding: $focus_card_body_padding;
    }
    
    .card-text{
        max-height: $focus_card_text_max_height;
        font-size: $focus_card_text_font_size;
        line-height: $focus_card_text_line_height;
        margin-bottom: $focus_card_text_margin_bottom !important;
        text-align: $focus_card_text_align;
        font-family: $BryantAlt;
    }
    
    .img-fluid{
        margin-bottom: $focus_card_image_margin_bottom;
        @media (min-width: 991px){
            height: $focus_card_image_height;
            width: 100%;
        }
    }
    
    .btn-brand{
        line-height: $focus_card_button_line_height;
        padding: $focus_card_button_padding;
        width: 100%;
        @media (min-width: 425px){
            width: $focus_card_button_width;
        }
        
    }
    @media (max-width: 767px){
        margin-bottom: 30px;
    }

}


//UPCOMING COURSES
#upcoming_courses{
    background-color: $upcoming_courses_background;
}

.card--upc{
    margin-bottom: $upcoming_courses_card_margin_bottom;
    @media(max-width: 991px){
        margin-bottom: $upcoming_courses_card_margin_bottom - 18 !important;
    }
    .card-body{
        @media(max-width: 991px){
            padding: 24px;
        }
        padding: $upcoming_courses_card_body_padding;
    }

    .media-title{
        font-size: $upcoming_courses_card_title_font_size !important;
        font-weight: $upcoming_courses_card_title_font_weight !important;
        line-height: $upcoming_courses_card_title_line_height;
        color: $brand-dark !important;
    }
    
    .course-icon{
        @extend %card-icons;
    }
    
    // .media-text{
    //     font-size: $upcoming_courses_card_paragraph_font_size;
    //     line-height: $upcoming_courses_card_paragraph_line_height;
    // }
    
    .media-date{
        font-size: $upcoming_courses_card_date_font_size;
        font-weight: $upcoming_courses_card_date_font_weight;
        line-height: $upcoming_courses_card_date_line_height;
        color: $brand-dark !important;
    }
    
    .media-detail{
        width: $upcoming_courses_card_media_detail_width !important;
    }
    
    .media{
        justify-content: space-between;
    }
    .course-icon{
        @media(max-width: 991px){
            margin-right: 15px !important;
        }
        margin-right: 57px !important;
    }

}


//PLACEHOLDER FOR BUTTONS...

%btn-313p, %btn-232p{
    border-radius: 3px !important;
    font-size: 18px !important;
    line-height: 16px;
}

%btn-313p{
    margin: 0 auto !important;
    box-shadow: 2px 2px 4px 0 rgba(155, 155, 155, 0.5) !important;
    max-width: $upcoming_courses-button_width;
    padding: 14px !important;
}

%btn-232p{
    max-width: $careers_button_width;
    padding: 22px !important;
}


.upcoming_courses-btn{
    @extend %btn-313p;
}


//CONTACT FORM
.contact-form {
    input{
        @extend %btn-313p;
        height: 54px !important;
        border-radius: 3px;
        background-color: #FFFFFF;
        border: solid 1px #CDCDCD !important;
        border-bottom: solid 1px #CDCDCD !important;
        box-shadow: none !important;
        font-size: 24px !important;
        color: #CDCDCD;
        line-height: 26px;
        @media(min-width: 767px){
            width: 100%;
            max-width: 494px;
            
        }
    }
    .form-group {
        margin-bottom: 48px;
    }
    .courses-btn{
        @extend %btn-313p;
    }
}


//IMMERSIVE COURSE PAGE
ul.immersive{
    margin-bottom: 24px;
}

.card--imc{
    background-color: transparent;
    box-shadow: none !important;
    
    .card-body{
        padding: $immersive_card_body_padding;
        position: relative;
        z-index: 1;
        border-bottom: $immersive_card_border-bottom;
        @media(max-width: 991px){
            padding-top: 48px !important;
        }
    }
    .card__overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: $immersive_card_overlay_background;
    }
    .media{
        justify-content: space-between;
        @media (max-width: 567px){
            flex-wrap: wrap;
        }
    }
    .immersive__icon{
        @media (max-width: 567px){
            flex: 1 0 100%;
            justify-content: center;
            order: 1;
        }
    }
    .media--detail{
        width: $immersive_card_media_detail_width;
        @media (max-width: 567px){
            width: auto;
            order: 2;
        }
    }
    .media--title{
        line-height: $immersive_card_title_line_height;
        font-size: $immersive_card_title_font_size !important;
        font-weight: $immersive_card_title_font_weight !important;
        color: $immersive_card_title_font_color;
    }
    .media--text{
        font-size: $immersive_card_paragraph_font_size;
        line-height: $immersive_card_paragraph_line_height;
        text-align: left;
        color: $immersive_card_paragraph_color;
        font-family: $BryantAlt;
    }
    .media--anchor{
        line-height: $immersive_card_anchor_line_height;
        font-size: $immersive_card_anchor_font_size;
        font-weight: $immersive_card_anchor_font_weight;
        text-align: justify;
        color: $immersive_card_anchor_color;
    }
    .media__schedule{
        @media (max-width: 567px){
           order: 3;
           margin-bottom: 30px;
        }
    }
    .media--date{
        line-height: $immersive_card_date_line_height;
        font-size: $immersive_card_date_font_size;
        font-weight: $immersive_card_date_font_weight;
        text-align: left;
        color: $immersive_card_paragraph_color;
    }
    .immersive-icon{
        @extend %card-icons-big;
        margin-right: $immersive_card_icon_margin_right !important;
        @media (max-width: 567px){
            margin-bottom: 30px;
            margin-right: 0 !important;
        }
    }
}



// MINI COURSE PAGE
.mini_course__icon{
    @extend %card-icons-big;
    margin: $mini_course_page_icon_margin;
}

.mini_course__title{
    line-height: $mini_course_page_title_line_height;
    font-size: $mini_course_page_title_font_size;
    font-weight: $mini_course_page_title_font_weight;
    text-align: $mini_course_page_title_text_align;
    color: $mini_course_page_title_color;
    margin-bottom: 0 !important;
}


.card--mini_course_right{
    background-color: transparent;
    box-shadow: none !important;
    width: $mini_course_right_card_width;
    @media (max-width: 1076px) {
        width:auto;
    }
    .card-body{
        margin-bottom: 48px;
        background-color: #F9F9F9;
        border-radius: 3px;
        box-shadow: 2px 2px 4px 0 rgba(155, 155, 155, 0.5) !important;
        border: solid 1px #E1E1E1 !important;
    }
   
    .media{
        padding-top: $mini_course_right_card_inner_spacing;
        padding-bottom: $mini_course_right_card_inner_spacing;
        border-bottom: $mini_course_right_card_inner_border;
    }
    .btn.btn-block.btn-brand{
        padding: 14px !important;
        font-size: 18px !important;
        line-height: 16px;
        border-radius: 3px;
    }
    .card__title{
        line-height: $mini_course_right_card_title_line_height !important;
        font-size: $mini_course_right_card_title_font_size !important;
        text-align: left;
        color: $brand-dark;
        font-family: $BryantAlt;
        margin-bottom: $mini_course_right_card_title_margin_bottom !important;
        font-weight: $mini_course_right_card_title_font_weight !important;
    }
    .card__date{
        line-height: $mini_course_right_card_date_line_height;
        font-size: $mini_course_right_card_date_font_size;
        font-weight: $mini_course_right_card_date_font_weight;
        text-align: left;
        color: $mini_course_right_card_date_color;
    }
    .card__price-off{
        line-height: $mini_course_right_card_price_off_line_height;

        .price{
            color: $mini_course_right_card_price_off_color;
            margin-right: $mini_course_right_card_price_off_margin_right;
            text-decoration: line-through;
        }
        
    }
    .card-subscription__text{
        font-size: $mini_course_right_card_subcription_text_font_size;
        line-height: $mini_course_right_card_subcription_text_line_height;
        text-align: left;
        color: $mini_course_right_card_subcription_text_color;
        margin-bottom: $mini_course_right_card_subcription_margin_bottom !important;
        font-family: $BryantAlt;
    }
    .form-group{
        margin-bottom: $mini_course_right_card_subcription_margin_bottom;
    }
    .input-alternate{
        height: $mini_course_right_card_subcription_input_height !important;
        border-radius: $mini_course_right_card_subcription_input_border_radius;
        border: solid 1px #E1E1E1;
        border-bottom: 1px solid #E1E1E1 !important;
        box-shadow: none !important;
        background-color: #FFFFFF;
        &:focus, &:hover{
            box-shadow: none !important;
        }
    }
    
}

.mini-course__left{
    width: $mini_course_left_card_width;
    @media (max-width: 1076px) {
        width: auto;
    }
    .course__title{
        line-height: $mini_course_left_card_title_line_height;
        font-size: $mini_course_left_card_title_font_size;
        font-weight: $mini_course_left_card_title_font_weight;
        margin-bottom: $mini_course_left_card_title_margin_bottom;
    }

    .course__passage{
        font-size: $mini_course_left_card_paragraph_font_size;
        line-height: $mini_course_left_card_paragraph_line_height;
        text-align: left;
        color: $mini_course_left_card_paragraph_color;
        font-family: $BryantAlt;
    }
    .inner-section{
        padding-top: 0 !important;
    }
    ul{
        margin-bottom: 0 !important;
        li{
            list-style-type: disc;
            line-height: $mini_course_left_card_list_items_line_height;
            font-size: $mini_course_left_card_list_items_font_size;
            color: $mini_course_left_card_list_items_color;
            margin-bottom: $mini_course_left_card_list_items_margin_bottom;
            font-family: $BryantAlt;
            &:last-child{
                margin-bottom: 0;
            }
        }
        div{
            line-height: 1.88;
        }
    }
}

//CONTACT US PAGE
.contact-wrap{
    border: 1px solid #CDCDCD;
    padding: 48px 96px;
    @media(max-width: 991px){
        padding: 24px !important;
    }
    .contact-wrap--list{
        margin-bottom: 0 !important;
    }
    .contact-wrap--items{
        margin-bottom: 92px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .contact-wrap--detail{
        margin-left: 16.2px;
        font-family: $BryantAlt;
        font-size: 16px;
        text-align: left;
        color: $brand-dark;
    }
}

//STORE PAGE

#store  [class*='col-']{
    margin-bottom: 48px;
    &:last-child{
        margin-bottom: 0;
    }
    @media(min-width: 767px){
        &:nth-last-child(-n+3){
            margin-bottom: 0 !important;
        }
    }
}

.card--store{
    box-shadow: none !important;
    .img-fluid{
        width: 100% !important;
    }
    .card-body{
        padding: 16px 24px 24px 24px;
        border: solid 1px #CDCDCD !important;
        border-top: none !important;
    }
    .card-title{
        line-height: 21px;
        font-family: $BryantMedium;
        font-size: 24px;
        font-weight: 500;
        color: #4A4A4A;
        margin-bottom: 16px;
    }
    .card-price{
        line-height: 18px;
        font-family: $BryantMedium;
        font-size: 16px !important;
        font-weight: bold !important;
        color: #4A4A4A;
        margin-bottom: 13px !important;
    }
    .form-group{
       margin-bottom: 24px; 
    }
    label{
        line-height: 12px;
        font-family: $BryantMedium;
        font-size: 14px;
        font-weight: 500;
        color: #CDCDCD;
        margin-bottom: 4px !important;
    }

    select{
        border-radius: 3px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    @media(min-width: 1024px){
        .card--store__form{
            .col:not(:last-child){
                width: 98px;
                flex: 0 0 98px !important;
            }
        }
    }

    @media(max-width: 375px){
        .card--store__form{
            .col:not(:last-child){
                width: 90px;
                flex: 0 0 90px !important;
            }
        }
    }

    @media(max-width: 991px){
        .card--store__form{
            .col{
               padding-left: 8px;
               padding-right: 8px;
            }
        }
    }
    
    .swatches{
        justify-content: space-between;
        label{
            width: 32px;
            height: 32px;
            border-radius: 2px;
            margin-bottom: 0 !important;
            &.bg-dark{
                background: #000000;
            }
            &.bg-blue{
                background: $brand-blue2;
            }
            &.bg-white{
                background: #FFFFFF;
                border: solid 1px #9B9B9B;
            }
            cursor: pointer;
        }
        input[type='radio']{
            display: none;
        }
    }
    .btn-brand{
        line-height: 16px;
        font-family: $BryantMedium;
        font-size: 18px;
        font-weight: bold;
        max-width: 200px;
        padding: 16px 0;
        margin: 0 auto !important;
    }
}

//CAREERS PAGE
.careers{
    display: flex;
    align-items: center;
    height: 341px;
    position: relative;
    .careers__info{
        flex: 1;
    }
    .careers__imageContainer{
        position: absolute;
        right: 15px;
        top: 0;
    }
    .careers__heading{
        line-height: 41px;
        font-family: $BryantMedium;
        font-size: 48px;
        font-weight: 500;
        color: $brand-dark;
        margin-bottom: 24px;
    }
    .careers__btn{
        width: 100%;
        @extend %btn-232p;
    }
}

.testimonial .inner-section__heading{
    margin-bottom: 32px !important;
}

.owl-dots{
    display: flex;
    justify-content: center;
    .owl-dot{
        width: 10px;
        height: 10px;
        margin: 0 8px;
        border-radius: 100%;
        background: #CDCDCD;
        &.active{
            background: #4C62A8;
        }
    }
}
